
# definicion de la frecuencia de reloj necesaria 
# NO SE  NECESITA SEÑAL DE RELOJ EXTERNA, SINCRONISMO DESDE HDMI
# NET "CLK50" LOC = P17 | IOSTANDARD = LVCMOS33 | PERIOD = 50 MHz;

# CONFIGURACION DE PARAMETRO PARA VOLTAJE DE OPERACION DEL DISPOSITIVO
CONFIG VCCAUX  = 3.3;

# pines para entrada TDMS DIFERENCIALES de cada color respectivamente
# Blue
NET "RX_TMDSB[0]" LOC = P111 | IOSTANDARD = TMDS_33; # blue_n
NET "RX_TMDS(0)"  LOC = P112 | IOSTANDARD = TMDS_33; # blue_p 
# Green
NET "RX_TMDSB(1)" LOC =	P114 | IOSTANDARD = TMDS_33; # green_n
NET "RX_TMDS[1]" 	LOC = P115 | IOSTANDARD = TMDS_33; # green_p
# Red
NET "RX_TMDSB[2]" LOC = P118 | IOSTANDARD = TMDS_33; # red_n
NET "RX_TMDS(2)"  LOC = P119 | IOSTANDARD = TMDS_33; # red_p
# Señanes de sincronismo 
NET "RX_TMDSB[3]" LOC = P133 | IOSTANDARD = TMDS_33; # tmdsclk_n
NET "RX_TMDS[3]" 	LOC = P134 | IOSTANDARD = TMDS_33; # tmdsclk_p 

# SEÑALES DE SALIDA LVDS DIFERENCIALES HACIA PAÑTALLA 

NET "channel1_p" LOC = P51 | IOSTANDARD = LVDS_33; 
NET "channel1_n" LOC = P50 | IOSTANDARD = LVDS_33;
NET "channel2_p" LOC = P56 | IOSTANDARD = LVDS_33;
NET "channel2_n" LOC = P55 | IOSTANDARD = LVDS_33;
NET "channel3_p" LOC = P58 | IOSTANDARD = LVDS_33;
NET "channel3_n" LOC = P57 | IOSTANDARD = LVDS_33;
#CLOCK
NET "clock_p" LOC = P62 | IOSTANDARD = LVDS_33;
NET "clock_n" LOC = P61 | IOSTANDARD = LVDS_33;